.h1 {
    background: linear-gradient(to right, #894eff, #5A02FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

.ftshadow {
    text-shadow: 0 0 1px #000000;
    
}
